html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: lightgray;
    height: 100%;
}

main {
    position: absolute;
    top: 4rem;
    text-align: center;
    min-height: 100%;
    margin-bottom: -2.25rem;
}

a {
    text-decoration: none;
    transition: 0.1s color;
}

a:link {
    color: teal;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25, 25, 25);
    height: 2rem;
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    padding-right: 0.5rem;
}

header nav ul li:last-child {
    padding-right: 1rem;
}

/* Main styles */

.sub-header {
    color: rgb(125, 125, 125);
    font-size: 1rem;
    width: 60%;
}

/* WELCOME */

#welcome {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    width: 50%;
    margin-bottom: 2.5rem;
}

#welcome-header {
    margin-bottom: 0.2rem;
}

/* WAI */

#wai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

#wai-header {
    margin-bottom: 0.2rem;
}

#wai-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin-top: 0.625rem;
}

.wai-block {
    width: 25%;
    margin: 0.5rem;
    border: white 1px solid;
    padding: 0.75rem;
}

.wai-block-header {
    font-style: italic;
    margin-bottom: 0.3125rem;
}

/* OTHER */

#other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    flex-direction: column;
}

#other-header {
    margin-bottom: 0.75rem;
}

#other-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#other-list li 
{
    list-style-type: none;
    padding: 0.5rem;
}

/* WHERE */

#where {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

#where-header {
    margin-bottom: 0.5rem;
}

#where-icons-container {
    margin-top: 0.75rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 50%;
}

/* FOOTER */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    background-color: rgb(25, 25, 25);
    z-index: 100;
}

footer a {
    padding-right: 1.5rem;
}


/* MEDIA QUERIES */

/* PHONE */

@media only screen and (max-width: 550px) {

    #welcome-header {
        font-size: 2rem;
    }

    #other .sub-header {
        width: 80%;
    }
    
    .sub-header {
        width: 100%;
    }

    #where-icons-container a span {
        display: none;
    }

    #where-icons-container a {
        font-size: 2rem;
    }

    .wai-block-header {
        font-size: 1rem;
    }

    .wai-block-info {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
    }

    #tablet {
        display: block;
    }

    #phone {
        display: none;
    }
}

@media only screen and (max-width: 320px) {

    header {
        justify-content: center;
    }

    #wai .sub-header {
        width: 70%;
    }

    #tablet {
        display: none;
    }

    #phone {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #header-icon {
        display: none;
    }

    #wai-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .wai-block {
        width: 80%;
    }

}