@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;

  --animation-dropIn: 0.2s linear dropIn;
  --background-cover: linear-gradient(to right bottom, rgba(10, 33, 38, 0.8), rgba(16, 56, 65, 0.6)), url('/projects_bg.jpg');
  --about-tile: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/programming-words.jpg');
  --project-tile: linear-gradient(to bottom, rgb(7, 76, 116) 30%, rgb(8, 20, 89) );
  --skill-tile: linear-gradient(to right, #051851 30%, #1d54fd 50%, black 50%, #284bb7 50%, #032790 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes dropIn {
  0% {
    top: -50px;
  }
  100% {
    top: 0px
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
