.about {
    min-height: 100vh;
    height: 100%;
}

.about-container {
    min-height: 80vh;
    width: 80vw;
    background-color: rgb(7, 5, 42);
    display: flex;
    margin: 20px auto 20px auto;
    align-items: center;
    color: rgb(162, 235, 235);
    padding: 20px;
    flex-direction: column;
    border: 1px darkslategray solid;
    border-radius: 10px;
}

.about-seperator {
    min-height: 4px;
    max-height: 4px;
    width: 70%;
    background-color: rgb(162, 235, 235);
    flex-grow: 1;
    margin: 5px 0 15px 0;
}

.about-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: flex-start;
    flex-grow: 1;
}

.about-image {
    max-height: 250px;
    min-width: 22%;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: inherit;
    flex-direction: column;
    background-color: rgb(70, 100, 100);
}

.about-image-subtext {
    font-size: 10px;
    position: relative;
    top: 135px;
}

.about-assortment {
    display: flex;
    flex-wrap: wrap;
}

.about-desc {
    min-width: 50%;
    font-size: 12px;
}

.about-section {
    max-width: 25%;
    height: 50%;
    margin: 20px;
}

.about-section.socials {
    max-width: 50%;
    margin-top: 0;
}

.about-section-content ul {
    list-style: none;
}

.italic {
    font-style: italic;
}

@media only screen and (max-width: 768px) {

    .about-container {
        min-height: 77vh;
    }

    .about-section {
        margin: 10px;
    }

    .about-section-content {
        font-size: 90%;
    }
}

@media only screen and (max-width: 426px) {

    .about {
        padding-bottom: 30px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-image {
        min-width: 90%;
        min-height: 400px;
        margin: 0;
        justify-self: center;
    }

    .about-image-subtext {
        top: 200px;
    }

    .about-section {
        max-width: 75%;
        text-align: center;
    }

    .about-assortment {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

}