.contacts {
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    min-height: 70vh;
    width: 80%;
    display: flex;
    background-image: linear-gradient(to top right, rgb(20, 20, 80) 20%, rgb(40, 40, 100) 50%, rgb(60, 60, 120) 100%);
    box-shadow: 2px 0px 10px 2px rgb(80, 80, 140);
    padding-bottom: 60px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
}

.contact-item {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    color: rgb(160, 160, 160);
}

.contact-type {
    font-size: 20px;
}

.contact-info {
    background-color: rgb(160, 160, 160);
    user-select: none;
}

.contact-inspect {
    text-decoration: underline;
}

.contact-inspect:hover {
    text-decoration: none;
    cursor: pointer;
}

.contact-cipher {
    display: block;
    position: absolute;
    bottom: 30px;
    color: white;
}

.contact-cipher-2 {
    display: block;
    position: absolute;
    bottom: 10px;
    color: white;
}

.border-right {
    border-right: 1px solid black;
}
.border-bottom {
    border-bottom: 1px solid black;
}

.reveal {
    display: none;
}

@media only screen and (max-width: 768px) {
    .contacts {
        margin-bottom: 27px;
    }

    .contact-inspect {
        display: none;
    }

    .reveal {
        display: block;
        text-align: center;
    }
}