.footer {
    height: 35px;
    background-image: linear-gradient(to top left, #10121e, #1c1833);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.footer * {
    margin: 14px;
    font-size: 12px;
    color: rgb(70, 70, 70);
}

.footer *:hover {
    color: gray;
    cursor: pointer;
}