.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #10121e, #1c1833);
}

.logo {
    font-size: 18px;
    padding: 10px;
}

.logo:hover {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 10px;
    transition: color 0.25s;
}


.nav-item:hover {
    cursor: pointer;
    color: gray;
}

.nav-active {
    background-color: #0b081f;
    color: lightskyblue;
}

@media only screen and (max-width: 426px) {
    .logo {
        display: none;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-item {
        flex-grow: 2;
        text-align: center;
    }

    .nav-item:active {
        background-color: #0b081f;
    }

    
}