.projects {
    background-image: linear-gradient(to bottom, rgba(10, 0, 60, 0.7) 0%, rgba(25, 0, 110, 0.7) 50%, rgba(10, 0, 60, 0.7) 100%);
}

.projects-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.project-tile {
    background-image: linear-gradient(to bottom right, rgb(22, 6, 60), rgb(40, 10, 110), rgb(22, 6, 60));
    color: rgb(143, 174, 216);
    border: 1px solid blueviolet;
    border-radius: 5px;
    min-height: 275px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 2 20%;
    box-shadow: 4px 4px 10px rgba(135, 211, 255, 0.1);
    transition: box-shadow .2s, padding .2s, margin .2s;
    position: relative;
    z-index: 0;
}

.project-tile:hover {
    box-shadow: 8px 8px 5px rgba(135, 211, 255, 0.2);
    padding: 18px;
    margin: 17px;
    cursor: pointer;
}

.project-tile-hover {
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s linear;
    border-radius: inherit;
    background-image: linear-gradient(to right, rgb(33, 6, 60), rgb(50, 10, 110), rgb(33, 6, 60));
}

.project-tile:hover .project-tile-hover {
    opacity: 1;
}

.project-tile > * {
    margin: 10px;
    z-index: 2;
}

.project-tile ul {
    list-style: none;
}

.project-tile h5 {
    text-decoration: underline;
}

.project-tile a:link {
    color: inherit;
}

.project-tile a:visited {
    color: inherit;
}

.project-tile a:hover {
    color: rgb(104, 126, 156);
}

.project-tile a:active {
    color: rgb(77, 94, 117);
}

.project-desc {
    font-size: 12px;
    width: 60%;
}

@media only screen and (max-width: 426px) {
    .projects-container {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        align-content: center;
    }

    .project-tile {
        width: 75%;
        min-height: 225px;
        font-size: 80%;
    }
}